<!-- Sign Up Apply - Step 1 -->
<div *ngIf="isStep1ModalShown" [config]="{ show: true }" (onHidden)="onStep1Hidden()" bsModal #autoShownStep1Modal="bs-modal"
     class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Sign Up - Apply</h4>
      </div>
      <div class="modal-body">
        <small *ngIf="rForm.get('firstname').hasError('required') && rForm.get('firstname').touched" class="form-text text-muted text-danger">First Name is required<br /></small>
        <small *ngIf="rForm.get('lastname').hasError('required') && rForm.get('lastname').touched" class="form-text text-muted text-danger">Last Name is required<br /></small>
        <small *ngIf="rForm.get('phonenumber').hasError('required') && rForm.get('phonenumber').touched" class="form-text text-muted text-danger">Phone Number is required<br /></small>
        <small *ngIf="!rForm.get('phonenumber').hasError('required') && rForm.get('phonenumber').hasError('pattern') && rForm.get('phonenumber').touched" class="form-text text-muted text-danger">Phone Number is not valid<br /></small>
        <small *ngIf="rForm.get('email').hasError('required') && rForm.get('email').touched" class="form-text text-muted text-danger">Email is required<br /></small>
        <small *ngIf="!rForm.get('email').hasError('required') && rForm.get('email').hasError('pattern') && rForm.get('email').touched" class="form-text text-muted text-danger">Email is not valid<br /></small>
        <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
          <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="text" class="form-control" formControlName="firstname" id="firstname" placeholder="Your First Name">
          </div>
          <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control" formControlName="lastname" id="lastname" placeholder="Your Last Name">
          </div>
          <div class="form-group">
            <label for="phonenumber">Phone Number</label>
            <div class="input-group">
              <div class="input-group-btn">
                <button (click)="handleDropdown()" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{phoneCode}}&nbsp;<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" [ngClass]="{'show': isDropdownActive}">
                  <li *ngFor="let country of phoneCodes"><a (click)="getCountryCode(country)" href="#">{{country.code}} {{country.dial_code}}</a></li>
                </ul>
              </div>
              <input type="text" id="phonenumber" formControlName="phonenumber" class="form-control" aria-label="Your Phone Number">
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Your Email">
          </div>
          <button type="submit" [disabled]="!rForm.valid" class="btn btn-primary">Authenticate</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Verification Code -->
<div *ngIf="isCodeModalShown" [config]="{ show: true }" (onHidden)="onCodeHidden()" bsModal #autoShownCodeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div id="divider" class="modal-header">
        <h4 class="modal-title pull-left">Enter Code from SMS</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideCodeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="input-group code-group">
          <input #digit1 type="text" name="d1" [(ngModel)]="d1" (keyup)="handleDigit($event, digit2)" maxlength="1" min="1" max="9" class="form-control code-item" tabindex="1">
          <input #digit2 type="text" name="d2" [(ngModel)]="d2" (keyup)="handleDigit($event, digit3)" maxlength="1" min="1" max="9" class="form-control code-item">
          <input #digit3 type="text" name="d3" [(ngModel)]="d3" (keyup)="handleDigit($event, digit4)" maxlength="1" min="1" max="9" class="form-control code-item">
          <input #digit4 type="text" name="d4" [(ngModel)]="d4" (keyup)="handleDigit($event, null)" maxlength="1" min="1" max="9" class="form-control code-item">
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Verification Code Authenticated -->
<div *ngIf="isSuccessModalShown" [config]="{ show: true }" (onHidden)="onSuccessHidden()" bsModal #autoShownSuccessModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Auto shown modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideSuccessModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-success" role="alert">Authentication Successful</div>
      </div>
    </div>
  </div>
</div>


<!-- Sign Up Apply - Add Company Name And Annual Income -->
<div *ngIf="isIncomeModalShown" [config]="{ show: true }" (onHidden)="onIncomeHidden()" bsModal #autoShownIncomeModal="bs-modal"
     class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Sign Up - Annual Income</h4>
      </div>
      <div class="modal-body">
        <small *ngIf="iForm.get('companyname').hasError('required') && iForm.get('companyname').touched" class="form-text text-muted text-danger">Company Name is required<br /></small>
        <small *ngIf="iForm.get('companyposition').hasError('required') && iForm.get('companyposition').touched" class="form-text text-muted text-danger">Company Position is required<br /></small>
        <small *ngIf="iForm.get('incomeOptionsValues').hasError('required') && iForm.get('incomeOptionsValues').touched" class="form-text text-muted text-danger">Annual Income is required<br /></small>
        <form [formGroup]="iForm" (ngSubmit)="addIncome(iForm.value)">
          <div class="form-group">
            <label for="companyname">Company Name</label>
            <input type="text" class="form-control" formControlName="companyname" id="companyname" placeholder="Company Name">
          </div>
          <div class="form-group">
            <label for="companyposition">Last Name</label>
            <input type="text" class="form-control" formControlName="companyposition" id="companyposition" placeholder="Company Position">
          </div>
          <div class="form-group">
            <label for="annualIncome">Annual Income</label>
            <select formControlName="incomeOptionsValues" id="annualIncome" class="form-control">
              <option selected disabled>Annual Income</option>
              <option *ngFor="let item of incomeOptionsValues" [value]="item.value">{{item.value}}</option>
            </select>
          </div>
          <button type="submit" [disabled]="!iForm.valid" class="btn btn-primary">Next Step</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Sign Up Apply - Add Credit Card -->
<div *ngIf="isCardModalShown" [config]="{ show: true }" (onHidden)="onCardHidden()" bsModal #autoShownCardModal="bs-modal"
     class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Sign Up - Add Credit Card</h4>
      </div>
      <div class="modal-body">
        <small *ngIf="cForm.get('billingAddress1').hasError('required') && cForm.get('billingAddress1').touched" class="form-text text-muted text-danger">First Name is required<br /></small>
        <small *ngIf="cForm.get('cardNumber').hasError('required') && cForm.get('cardNumber').touched" class="form-text text-muted text-danger">Card Number is required<br /></small>
        <small *ngIf="cForm.get('cardNumber').hasError('pattern') && cForm.get('cardNumber').touched" class="form-text text-muted text-danger">Card Number should contain 15 or 16 digits<br /></small>
        <small *ngIf="cForm.get('expMonth').hasError('required') && cForm.get('expMonth').touched" class="form-text text-muted text-danger">Expire Month is required<br /></small>
        <small *ngIf="cForm.get('expMonth').touched && (cForm.get('expMonth').hasError('min') || cForm.get('expMonth').hasError('max') || cForm.get('expMonth').hasError('pattern'))" class="form-text text-muted text-danger">Expire Month is not valid<br /></small>
        <small *ngIf="cForm.get('expYear').hasError('required') && cForm.get('expYear').touched" class="form-text text-muted text-danger">Expire Year is required<br /></small>
        <small *ngIf="cForm.get('expYear').touched && (cForm.get('expYear').hasError('min') || cForm.get('expYear').hasError('max') || cForm.get('expYear').hasError('pattern'))" class="form-text text-muted text-danger">Expire Year is not valid<br /></small>
        <small *ngIf="cForm.get('cvv').hasError('required') && cForm.get('cvv').touched" class="form-text text-muted text-danger">CVV is required<br /></small>
        <small *ngIf="cForm.get('cvv').hasError('pattern') && cForm.get('cvv').touched" class="form-text text-muted text-danger">CVV should contain 3 digits<br /></small>
        <form [formGroup]="cForm" (ngSubmit)="addCard(cForm.value)">
          <div class="form-group">
            <!--<div type="text" class="form-control" >{{loggedUser.firstName}} {{loggedUser.lastName}}</div>-->
          </div>
          <div class="form-group">
            <label for="billingAddress1">Billing Address</label>
            <input type="text" class="form-control" formControlName="billingAddress1" id="billingAddress1" placeholder="Billing Address">
          </div>
          <div class="form-group">
            <label for="billingAddress2">Billing Address</label>
            <input type="text" class="form-control" formControlName="billingAddress2" id="billingAddress2" placeholder="Billing Address">
          </div>
          <div class="form-group">
            <label for="cardNumber">Credit Card Number</label>
            <input type="text" minlength="15" maxlength="16" class="form-control" id="cardNumber" formControlName="cardNumber" placeholder="Card Number">
          </div>
          <div class="form-group">
          <div class="card-exp-row">
            <div class="form-group card-item">
              <label for="expMonth">Exp Month</label>
              <input type="text" minlength="1" maxlength="2" class="form-control credit-card-item" formControlName="expMonth" id="expMonth" placeholder="MM">
            </div>
            <div class="form-group card-item">
              <label for="expYear">Exp Year</label>
              <input type="text" minlength="1" maxlength="2" class="form-control credit-card-item" formControlName="expYear" id="expYear" placeholder="YY">
            </div>
            <div class="form-group card-item">
              <input type="text" minlength="3" maxlength="3" class="form-control credit-card-item" formControlName="cvv" id="cvv" placeholder="CVV">
            </div>
          </div>
          </div>
          <button type="submit" [disabled]="!cForm.valid" class="btn btn-primary">Authenticate</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Sign Up Apply - Add Company Name And Annual Final -->
<div *ngIf="isFinalModalShown" [config]="{ show: true }" (onHidden)="onFinalHidden()" bsModal #autoShownFinalModal="bs-modal"
     class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Sign Up - Annual Final</h4>
      </div>
      <div class="modal-body">
        <img *ngIf="loggedUser.image" src="loggedUser.image" alt="Profile Image" class="img-rounded">
        <div class="well">
        <p class="text-uppercase">THANK YOU</p>
        <h3>{{loggedUser.firstName}} {{loggedUser.lastName}}</h3>
        <p [ngClass]="addCardResponseStatus===200?'text-success':'text-danger'">{{addCardResponseMessage}}</p>
          <p *ngIf="addCardResponseStatus!==200" class="text-warning">Все норм, процедура прошла успешно</p>
        </div>
        <button class="btn btn-primary" (click)="hideFinalModal()">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Sign Up Apply - Error Modal Window -->
<div *ngIf="isErrorModalShown" [config]="{ show: true }" (onHidden)="onErrorHidden()" bsModal #autoShownErrorModal="bs-modal"
     class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Sign Up - Annual Error</h4>
      </div>
      <div class="modal-body">
        <div class="well">
          <h3 class="text-danger">Error!</h3>
          <p class="text-danger">{{errorMessage}}</p>
          <small class="text-warning">Ошибка соединения с сервером</small>
        </div>
        <button class="btn btn-primary" (click)="hideErrorModal()">Close</button>
      </div>
    </div>
  </div>
</div>
